In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [ ]:
#Now we will load the required webpage.
r = requests.get("https://www.worldometers.info/bicycles/")
bikes = bs(r.content)
print(bikes.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Bicycles produced in the world - Worldometer
  </title>
  <meta content="Total number of bicycles produced in the world this year. Bikes produced globally every year, worldwide bicycle market" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script type="text/javascript">
   var rts_configuration =
{
RTS_key: 'worldometers',
RTS_keylen: 2,
format_defaults : {
decimalSeparator: '.',
thousandSeparator: ','
}
}
  </script>
  <script src="https://www.realtimestatistics.net/rts/RTSp.js" type="text/javascript">
  </script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="/js/bootstrap.min.js">
  </script>
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {}; freestar.hitTime = Date.now(); freestar.queue = freestar.queue || []; freestar.config = freestar.config || {}; freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true; freestar.config.enabled_slots = []; !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document); freestar.initCallback = function () { (freestar.config.enabled_slots.length === 0) ? freestar.initCallbackCalled = false : freestar.newAdSlots(freestar.config.enabled_slots) }
  </script>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-1438574-2', 'auto'); ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({ "palette": { "popup": { "background": "#efefef", "text": "#404040" }, "button": { "background": "#8ec760", "text": "#ffffff" } }, "theme": "classic", "content": { "href": "http://www.worldometers.info/policy/" }
})});
  </script>
  <style type="text/css">
   .style1 { color: #666666 }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        <span style="color:#FF9900; font-weight:bold">
         Coronavirus
        </span>
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <div class="row">
    <div class="col-md-2 hidden-sm hidden-xs col-wm-left-ad">
     <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="9468680730" style="display:inline-block;width:160px;height:600px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
    <div class="col-md-6">
     <div class="content-inner">
      <ul class="breadcrumb">
       <li>
        <a href="/">
         W
        </a>
       </li>
       <li class="active">
        Bicycles produced
       </li>
      </ul>
      <div id="maincounter-wrap">
       <h1>
        Bicycles produced this year:
       </h1>
       <div class="maincounter-number">
        <span class="counterinfo">
         <span class="rts-counter" rel="bicycle_produced/this_year">
          retrieving data...
         </span>
        </span>
       </div>
      </div>
      <div id="innercontent">
       <h2>
        Sources and methods:
       </h2>
       <p>
        Two major sources for statistical data on bicycle production are
        <strong>
         Bicycle Retailer and Industry News
        </strong>
        and the
        <strong>
         Bicycle Market Research Institute.
        </strong>
        There are over a dozen additional sources (see references at the end of this page) that are analyzed by Worldometer's team to derive our final estimate.
       </p>
       <p>
        Statistics on bike production are also found in papers that are presented at conferences such as
        <strong>
         VeloCity
        </strong>
        ,
        <strong>
         ProBike
        </strong>
        and the
        <strong>
         Transportation Research Board
        </strong>
        (TRB).
       </p>
       <p>
       </p>
       <h2>
        Bicycle vs. car production
       </h2>
       <p>
        As recently as 1965,
        <a href="/cars/">
         world production of cars
        </a>
        and bikes was essentially the same, with each at nearly 20 million, but as of
        <strong>
         2003
        </strong>
        bike production had climbed to over 100 million per year compared with 42 million cars. Bicycle production was 105 million units globally in 2004, a 1.5% increase over 2003 (WorldWatch Institute).
       </p>
       <p>
        <img height="295" src="/img/world-bike-auto-production.gif" width="350"/>
       </p>
       <p>
       </p>
       <h2>
        Which country is the biggest producer of bicycles?
       </h2>
       <p>
        <strong>
         China.
        </strong>
        <br/>
        Although bicycles are produced in dozens of countries, the top five producers - China, India, the European Union, Taiwan, and Japan - are responsible for 87% of global production. China alone had some 58 percent of the global market in 2004. The following year, 2005, was a record year for the production of bicycles in China with a 16% increase in the production of bicycles and E-Bikes to a total of
        <strong>
         80,430,000 units produced
        </strong>
        , of which about 65% were exported. The People’s Republic of China today produces over 60% of the world’s bicycles. 86% of the bicycles sold in the US are imports from China.
       </p>
       <p>
        However, cycle use in China is decreasing sharply, down to 20% of all trips, compared to 33% in 1995. In Beijing, only 20% of commuters rode bikes in 2002, compared to 60% in 1998.
       </p>
       <p>
       </p>
       <h2>
        How many bicycles are there in the world?
       </h2>
       <p>
        It is estimated that more than a billion bicycles are present in the world, with nearly half of them in China. Below is a table with the major countries:
       </p>
       <div>
        <table border="0" cellpadding="0" cellspacing="0">
         <tr>
          <td valign="top" width="108">
           <b>
            Country
           </b>
          </td>
          <td>
           <div align="right">
            <b>
             Quantity
            </b>
           </div>
          </td>
          <td width="66">
           <div align="right">
            <b>
             Year
            </b>
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top">
          </td>
          <td valign="top">
           <div align="right">
           </div>
          </td>
          <td>
           <div align="right">
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           China
          </td>
          <td valign="top" width="110">
           <div align="right">
            450,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1992
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           USA
          </td>
          <td valign="top" width="110">
           <div align="right">
            100,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Japan
          </td>
          <td valign="top" width="110">
           <div align="right">
            72,540,000
           </div>
          </td>
          <td>
           <div align="right">
            1996
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Germany
          </td>
          <td valign="top" width="110">
           <div align="right">
            62,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1996
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           India
          </td>
          <td valign="top" width="110">
           <div align="right">
            30,800,000
           </div>
          </td>
          <td>
           <div align="right">
            1990
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Indonesia
          </td>
          <td valign="top" width="110">
           <div align="right">
            22,300,000
           </div>
          </td>
          <td>
           <div align="right">
            1982
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Italy
          </td>
          <td valign="top" width="110">
           <div align="right">
            23,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           UK
          </td>
          <td valign="top" width="110">
           <div align="right">
            20,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           France
          </td>
          <td valign="top" width="110">
           <div align="right">
            20,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Brazil
          </td>
          <td valign="top" width="110">
           <div align="right">
            40,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1996
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Netherlands
          </td>
          <td valign="top" width="110">
           <div align="right">
            16,500,000
           </div>
          </td>
          <td>
           <div align="right">
            2000
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Canada
          </td>
          <td valign="top" width="110">
           <div align="right">
            10,150,000
           </div>
          </td>
          <td>
           <div align="right">
            1992
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Spain
          </td>
          <td valign="top" width="110">
           <div align="right">
            6,950,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Sweden
          </td>
          <td valign="top" width="110">
           <div align="right">
            6,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           South Korea
          </td>
          <td valign="top" width="110">
           <div align="right">
            6,500,000
           </div>
          </td>
          <td>
           <div align="right">
            1985
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Mexico
          </td>
          <td valign="top" width="110">
           <div align="right">
            6,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1986
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Belgium
          </td>
          <td valign="top" width="110">
           <div align="right">
            5,200,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Rumania
          </td>
          <td valign="top" width="110">
           <div align="right">
            5,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Denmark
          </td>
          <td valign="top" width="110">
           <div align="right">
            4,500,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Switzerland
          </td>
          <td valign="top" width="110">
           <div align="right">
            3,800,000
           </div>
          </td>
          <td>
           <div align="right">
            1996
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Hungary
          </td>
          <td valign="top" width="110">
           <div align="right">
            3,500,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Australia
          </td>
          <td valign="top" width="110">
           <div align="right">
            3,300,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Finland
          </td>
          <td valign="top" width="110">
           <div align="right">
            3,250,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
         <tr>
          <td valign="top" width="108">
           Norway
          </td>
          <td valign="top" width="110">
           <div align="right">
            3,000,000
           </div>
          </td>
          <td>
           <div align="right">
            1995
           </div>
          </td>
         </tr>
        </table>
       </div>
       <p>
       </p>
       <p class="mini">
        <strong>
         References and useful links:
        </strong>
       </p>
       <div>
        <ul>
         <li>
          <a href="http://www.bicycleretailer.com/">
           Bicycle Retailer and Industry News
          </a>
          - the leading source of news and information about the bicycle industry in North and South America, Europe and Asia
         </li>
         <li>
          <a href="http://www.nbda.com/">
           National Biker Dealers Association
          </a>
         </li>
         <li>
          <a href="http://www.worldwatch.org/">
           WorldWatch Institute
          </a>
          -
          <a href="http://www.worldwatch.org/node/5462">
           Bicycle Production up slightly
          </a>
         </li>
         <li>
          <a href="http://www.bikebiz.co.uk/statistics.php">
           Bike Biz Statistics
          </a>
         </li>
         <li>
          <a href="http://www.ibike.org/library/statistics-data.htm">

In [ ]:
table = bikes.select('table')[0]
print(table)

<table border="0" cellpadding="0" cellspacing="0"> <tr> <td valign="top" width="108"><b>Country </b></td> <td><div align="right"><b>Quantity</b></div></td> <td width="66"><div align="right"><b>Year</b></div></td> </tr> <tr> <td valign="top"> </td> <td valign="top"><div align="right"></div></td> <td><div align="right"></div></td> </tr> <tr> <td valign="top" width="108">China </td> <td valign="top" width="110"><div align="right">450,000,000 </div></td> <td><div align="right">1992</div></td> </tr> <tr> <td valign="top" width="108">USA </td> <td valign="top" width="110"><div align="right">100,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Japan </td> <td valign="top" width="110"><div align="right">72,540,000 </div></td> <td><div align="right">1996</div></td> </tr> <tr> <td valign="top" width="108">Germany </td> <td valign="top" width="110"><div align="right">62,000,000 </div></td> <td><div align="right">1996</div></td> </tr> <tr> <td valign="top" width="108">India </td> <td valign="top" width="110"><div align="right">30,800,000 </div></td> <td><div align="right">1990</div></td> </tr> <tr> <td valign="top" width="108">Indonesia </td> <td valign="top" width="110"><div align="right">22,300,000 </div></td> <td><div align="right">1982</div></td> </tr> <tr> <td valign="top" width="108">Italy</td> <td valign="top" width="110"><div align="right">23,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">UK </td> <td valign="top" width="110"><div align="right">20,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">France </td> <td valign="top" width="110"><div align="right">20,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Brazil </td> <td valign="top" width="110"><div align="right">40,000,000 </div></td> <td><div align="right">1996</div></td> </tr> <tr> <td valign="top" width="108">Netherlands </td> <td valign="top" width="110"><div align="right">16,500,000 </div></td> <td><div align="right">2000</div></td> </tr> <tr> <td valign="top" width="108">Canada </td> <td valign="top" width="110"><div align="right">10,150,000 </div></td> <td><div align="right">1992</div></td> </tr> <tr> <td valign="top" width="108">Spain</td> <td valign="top" width="110"><div align="right">6,950,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Sweden </td> <td valign="top" width="110"><div align="right">6,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">South Korea </td> <td valign="top" width="110"><div align="right">6,500,000 </div></td> <td><div align="right">1985</div></td> </tr> <tr> <td valign="top" width="108">Mexico </td> <td valign="top" width="110"><div align="right">6,000,000 </div></td> <td><div align="right">1986</div></td> </tr> <tr> <td valign="top" width="108">Belgium </td> <td valign="top" width="110"><div align="right">5,200,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Rumania</td> <td valign="top" width="110"><div align="right">5,000,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Denmark</td> <td valign="top" width="110"><div align="right">4,500,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Switzerland </td> <td valign="top" width="110"><div align="right">3,800,000 </div></td> <td><div align="right">1996</div></td> </tr> <tr> <td valign="top" width="108">Hungary </td> <td valign="top" width="110"><div align="right">3,500,000</div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Australia</td> <td valign="top" width="110"><div align="right">3,300,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Finland </td> <td valign="top" width="110"><div align="right">3,250,000 </div></td> <td><div align="right">1995</div></td> </tr> <tr> <td valign="top" width="108">Norway </td> <td valign="top" width="110"><div align="right">3,000,000 </div></td> <td><div align="right">1995</div></td> </tr> </table>

In [ ]:
columns = table.find('tr').find_all('b')
columns

In [ ]:
column_names = [c.string for c in columns]
column_names

['Country ', 'Quantity', 'Year']

In [ ]:
table_rows = bikes.find('table').find_all('tr')
l = []
for tr in table_rows:
  td =  tr.find_all('td')
  row = [tr.text.strip() for tr in td]
  l.append(row)
print(l)

[['Country', 'Quantity', 'Year'], ['', '', ''], ['China', '450,000,000', '1992'], ['USA', '100,000,000', '1995'], ['Japan', '72,540,000', '1996'], ['Germany', '62,000,000', '1996'], ['India', '30,800,000', '1990'], ['Indonesia', '22,300,000', '1982'], ['Italy', '23,000,000', '1995'], ['UK', '20,000,000', '1995'], ['France', '20,000,000', '1995'], ['Brazil', '40,000,000', '1996'], ['Netherlands', '16,500,000', '2000'], ['Canada', '10,150,000', '1992'], ['Spain', '6,950,000', '1995'], ['Sweden', '6,000,000', '1995'], ['South Korea', '6,500,000', '1985'], ['Mexico', '6,000,000', '1986'], ['Belgium', '5,200,000', '1995'], ['Rumania', '5,000,000', '1995'], ['Denmark', '4,500,000', '1995'], ['Switzerland', '3,800,000', '1996'], ['Hungary', '3,500,000', '1995'], ['Australia', '3,300,000', '1995'], ['Finland', '3,250,000', '1995'], ['Norway', '3,000,000', '1995']]

In [ ]:
df = pd.DataFrame(l, columns = column_names)
df

       Country      Quantity  Year
0       Country     Quantity  Year
1
2         China  450,000,000  1992
3           USA  100,000,000  1995
4         Japan   72,540,000  1996
5       Germany   62,000,000  1996
6         India   30,800,000  1990
7     Indonesia   22,300,000  1982
8         Italy   23,000,000  1995
9            UK   20,000,000  1995
10       France   20,000,000  1995
11       Brazil   40,000,000  1996
12  Netherlands   16,500,000  2000
13       Canada   10,150,000  1992
14        Spain    6,950,000  1995
15       Sweden    6,000,000  1995
16  South Korea    6,500,000  1985
17       Mexico    6,000,000  1986
18      Belgium    5,200,000  1995
19      Rumania    5,000,000  1995
20      Denmark    4,500,000  1995
21  Switzerland    3,800,000  1996
22      Hungary    3,500,000  1995
23    Australia    3,300,000  1995
24      Finland    3,250,000  1995
25       Norway    3,000,000  1995

In [ ]:
df = df.drop(df.index[:2])
df

       Country      Quantity  Year
2         China  450,000,000  1992
3           USA  100,000,000  1995
4         Japan   72,540,000  1996
5       Germany   62,000,000  1996
6         India   30,800,000  1990
7     Indonesia   22,300,000  1982
8         Italy   23,000,000  1995
9            UK   20,000,000  1995
10       France   20,000,000  1995
11       Brazil   40,000,000  1996
12  Netherlands   16,500,000  2000
13       Canada   10,150,000  1992
14        Spain    6,950,000  1995
15       Sweden    6,000,000  1995
16  South Korea    6,500,000  1985
17       Mexico    6,000,000  1986
18      Belgium    5,200,000  1995
19      Rumania    5,000,000  1995
20      Denmark    4,500,000  1995
21  Switzerland    3,800,000  1996
22      Hungary    3,500,000  1995
23    Australia    3,300,000  1995
24      Finland    3,250,000  1995
25       Norway    3,000,000  1995

In [ ]:
df = df.sort_values("Country ")
df

       Country      Quantity  Year
23    Australia    3,300,000  1995
18      Belgium    5,200,000  1995
11       Brazil   40,000,000  1996
13       Canada   10,150,000  1992
2         China  450,000,000  1992
20      Denmark    4,500,000  1995
24      Finland    3,250,000  1995
10       France   20,000,000  1995
5       Germany   62,000,000  1996
22      Hungary    3,500,000  1995
6         India   30,800,000  1990
7     Indonesia   22,300,000  1982
8         Italy   23,000,000  1995
4         Japan   72,540,000  1996
17       Mexico    6,000,000  1986
12  Netherlands   16,500,000  2000
25       Norway    3,000,000  1995
19      Rumania    5,000,000  1995
16  South Korea    6,500,000  1985
14        Spain    6,950,000  1995
15       Sweden    6,000,000  1995
21  Switzerland    3,800,000  1996
9            UK   20,000,000  1995
3           USA  100,000,000  1995

In [ ]:
df = df.set_index([pd.Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'])])
df

       Country      Quantity  Year
1     Australia    3,300,000  1995
2       Belgium    5,200,000  1995
3        Brazil   40,000,000  1996
4        Canada   10,150,000  1992
5         China  450,000,000  1992
6       Denmark    4,500,000  1995
7       Finland    3,250,000  1995
8        France   20,000,000  1995
9       Germany   62,000,000  1996
10      Hungary    3,500,000  1995
11        India   30,800,000  1990
12    Indonesia   22,300,000  1982
13        Italy   23,000,000  1995
14        Japan   72,540,000  1996
15       Mexico    6,000,000  1986
16  Netherlands   16,500,000  2000
17       Norway    3,000,000  1995
18      Rumania    5,000,000  1995
19  South Korea    6,500,000  1985
20        Spain    6,950,000  1995
21       Sweden    6,000,000  1995
22  Switzerland    3,800,000  1996
23           UK   20,000,000  1995
24          USA  100,000,000  1995

In [ ]:
df = df.replace(',','', regex=True)
c = df.select_dtypes(object).columns[1]
df[c] = df[c].apply(pd.to_numeric,errors='coerce')
df[c] = df["Quantity"]

df

       Country    Quantity  Year
1     Australia    3300000  1995
2       Belgium    5200000  1995
3        Brazil   40000000  1996
4        Canada   10150000  1992
5         China  450000000  1992
6       Denmark    4500000  1995
7       Finland    3250000  1995
8        France   20000000  1995
9       Germany   62000000  1996
10      Hungary    3500000  1995
11        India   30800000  1990
12    Indonesia   22300000  1982
13        Italy   23000000  1995
14        Japan   72540000  1996
15       Mexico    6000000  1986
16  Netherlands   16500000  2000
17       Norway    3000000  1995
18      Rumania    5000000  1995
19  South Korea    6500000  1985
20        Spain    6950000  1995
21       Sweden    6000000  1995
22  Switzerland    3800000  1996
23           UK   20000000  1995
24          USA  100000000  1995